<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="application/javascript">
    <title>Detalle del Resultado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/detail_pdf.css') }}"> -->
    <link rel="stylesheet" href="../static/css/detail_pdf.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='js/radarChart.js') }}"></script> -->
    <script type="module" src="../static/js/radarChart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>



  <style>
        /* Global styles */
    :root {
      --main-color: #293492;

    }
    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      color: #666666;
      font-size: 11px;
    }

    /*General styles*/

    .container {
      max-width: 900px;
      margin: 20px auto;
      padding: 30px;
      background-color: #ffffff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    .separator {
      margin: 1rem 0;
    }

    .separator-small {
      width: 20rem;
      margin: 1rem 0;
    }

    h4 {
      color: var(--main-color);
    }

    .subtitles {
      color:var(--main-color);

    }

    /* Header styles */
    .header {
      color: var(--main-color);
      padding-bottom: 20px;
    }
    .header img {
      width: 100%;
    }

    .header h2 {
      font-size: 26px;
      margin-bottom: 2rem;
      margin-top: 0;
    }

    .header h3 {
      margin-top: 3rem;
      margin-bottom: 0;
    }

    .header p {
      color: #666;
      margin-top: 5px;
    }
    .header-imagePDF {
      width: 100%;
    }

    /*Personal details*/
    .personal-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
      margin: 2rem 0 2rem 0;
    }

    /* Table styles */
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    table th, table td {
      padding: 12px 15px;
      text-align: left;
    }

    table th {
      letter-spacing: 0.03em;
    }

    .questions tr:nth-child(even) {
      background-color: #f2f2f2;
    }


    /* Results */
    .probability-result {
      float: right;
    }

    .probability {
      color: #E02784;
      font-size: 14px;
    }

    /* Progress bar styles */
    .progress-section {
      margin-bottom: 30px;
    }

    .progress-label {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .progress-bar-inner {
      height: 100%;
      background-color: #28a745;
      border-radius: 10px 0 0 10px;
      width: 0;
      transition: width 1s ease;
    }

    .progress-percentage {
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: bold;
    }

    /* Suggestions section */
    .suggestions {
      margin-top: 10rem;
    }

    .suggestions-results {
      background-color: #F3F3F3;
      padding: 20px;
      border-radius: .5rem;
    }

    .suggestions h2 {
      color: #856404;
      margin-bottom: 10px;
    }

    .suggestions p {
      margin-bottom: 10px;
    }

    /* Analysis boxes */
    .analysis-section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .analysis-box {
      background-color: #f8f9fa;
      width: 18%;
      text-align: center;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

    .analysis-box h3 {
      margin: 0;
      font-size: 16px;
      margin-bottom: 10px;
      color: #0056b3;
    }

    .analysis-box .score {
      font-weight: bold;
      color: #28a745;
    }

    /* Footer */
    footer {
      text-align: center;
      color: #666;
      padding-top: 20px;
      border-top: 1px solid #ddd;
    }
    .probability-bar {
          width: 630px;
          height: 20px;
          background-color: rgb(193, 0, 0);
          margin: 10px auto;
          border-radius: 2px;
          overflow: hidden;
          position: relative;
      }

      .probability-bar-inner {
          height: 100%;
          background-color: rgb(0, 182, 0);
          width: 0;
      }

    footer a {
      color: #0056b3;
      text-decoration: none;
    }

    footer a:hover {
      text-decoration: underline;
    }
    .footer-contact p {
      margin: 0;
    }

    /* Estilos del círculo */
    .circle {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #2e3b4e;
        font-size: 18px;
    }
    .circle span {
      position: relative;
      left: 400px;
      bottom: 1rem;
    }
    .table-analisis_body {
      display: grid;
      gap: 2rem;
    }
    .table-analisis_body tr {
      background-color: white;
    }
    .contacto {
      text-align: center;
    }

    /* Estilos para el estado */
    .analysis-status {
    font-weight: bold;
    color: rgb(0, 173, 0);
    margin-right: 20px;
    min-width: 80px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #e8f5e9;
    }

    .analysis-status.neutro {
    color: #ff9800;
    background-color: #fff3e0;
    }

    .analysis-status.negativo {
    color: #f44336;
    background-color: #ffebee;
    }

    /* Contenedor del análisis */
    .analysis-chart {
    width: 80px;
    height: 80px;
    position: relative;
    margin-right: 20px;
    }
    .container-circle {
    width: 90px;
    }

  </style>

</head>
<body class="content" id="content">
    <div class="topbar">
    </div>
    <div class="container">
        <div class="header content-margins">
          <!-- <img src="{{ url_for('static', filename='../static/images/navbarPDF.png') }}"" alt="Navbar visa para turistas"> -->
          <img src="https://github.com/LizethVictoria20/visaparaturistas/blob/main/static/images/navbarPDF.png?raw=true" alt="Navbar visa para turistas">
          <hr class="separator">
          <h3>Resultado / Test de perfilamiento con inteligencia artificial</h3>
          <h2>Visa de turismo de EE.UU</h2>
          <p>A continuación, se presentan los resultados del test de perfilamiento para la solicitud de visa de turismo a EE. UU., Este test, creado con inteligencia artificial por nuestra compañía "VisaParaTurista.com" le indicará sus probabilidades de obtener la visa, considerando diferentes factores matemáticos y calificando cada criterio en una escala de 1 a 10. Nuestro objetivo es ayudarle a identificar áreas en las que puede fortalecer su proceso de solicitud. Al final, encontrará consejos útiles y un diagrama para comprender mejor sus oportunidades de mejora. Agradecemos su confianza y esperamos ser de ayuda en su solicitud de visa de turismo a EE. UU.</p>
        </div>
        <hr class="separator">
        <div class="personal-details content-margins">
            <div>
                <p>Nombre del solicitante</p>
                <strong><span id="nombre-span">{{ result.nombre }} {{ result.apellidos }}</span></strong>
            </div>
            <div>
                <p>Fecha del perfilamiento</p>
                <strong><span id="fecha-span">{{ result.fecha }}</span></strong>
            </div>
        </div>
        <hr class="separator-small">
        <h4>1. Preguntas, respuestas y calificacion del test</h4>
        <hr class="separator">

        <table class="questions">
            <tr>
                <th class="subtitles">Pregunta</th>
                <th class="subtitles">Respuesta</th>
                <th class="subtitles">Puntaje</th>
            </tr>
            <tr>
                <td>1 - Edad</td>
                <td>{{ result.edad }}</td>
                <td>{{ result.calificacion_edad_ChatGPT }}</td>
            </tr>
            <tr>
              <td>2 - Estado Civil</td>
              <td>{{ result.estado_civil }}</td>
              <td>{{ result.calificacion_estado_civil_ChatGPT }}</td>
            </tr>
            <tr>
                <td>3 - ¿Cuántos hijos tienes?</td>
                <td>{{ result.hijos }}</td>
                <td>{{ result.calificacion_hijos_ChatGPT }}</td>
            </tr>
            <tr>
                <td>4 - ¿Con quién comparte su vivienda actualmente?</td>
                <td>{{ result.vivienda }}</td>
                <td>{{ result.calificacion_vivienda_ChatGPT }}</td>
            </tr>
            <tr>
              <td>5 - Profesión u ocupación</td>
              <td>{{ result.profesion }}</td>
              <td>{{ result.calificacion_profesion_ChatGPT }}</td>
          </tr>
          <tr>
            <td>6 - ¿Cuál es su nivel de educación?</td>
            <td>{{ result.nivel_educacion }}</td>
            <td>{{ result.calificacion_nivel_educacion_ChatGPT }}</td>
          </tr>
          <tr>
            <td>7 - ¿Cuánto tiempo lleva trabajando en su empleo actual?</td>
            <td>{{ result.tiempo_empleo }}</td>
            <td>{{ result.calificacion_tiempo_empleo_ChatGPT }}</td>
          </tr>
          <tr>
            <td>8 - ¿Es propietario o socio de alguna empresa?</td>
            <td>{{ result.propietario }}</td>
            <td>{{ result.calificacion_propietario_ChatGPT }}</td>
          </tr>
          <tr>
            <td>9 - Ingresos mensuales aproximados en dólares americanos</td>
            <td>{{ result.ingresos }}</td>
            <td>{{ result.calificacion_ingresos_ChatGPT }}</td>
          </tr>
          <tr>
            <td>10 - ¿Paga impuestos y no participa en programas de asistencia social?</td>
            <td>{{ result.impuestos }}</td>
            <td>{{ result.calificacion_impuestos_ChatGPT }}</td>
          </tr>
          <tr>
            <td>11 - ¿Posee propiedades inmobiliarias y/o vehículos en su país de residencia?</td>
            <td>{{ result.propiedades }}</td>
            <td>{{ result.calificacion_propiedades_ChatGPT }}</td>
          </tr>
          <tr>
            <td>12 - ¿En los últimos 5 años, a qué países ha viajado?</td>
            <td>{{ result.viajes }}</td>
            <td>{{ result.calificacion_viajes_ChatGPT }}</td>
          </tr>
          <tr>
            <td>13 - ¿Tiene familiares que residan en los Estados Unidos?</td>
            <td>{{ result.familiares_eeuu }}</td>
            <td>{{ result.calificacion_familiares_eeuu_ChatGPT }}</td>
          </tr>
          <tr>
            <td>14 - ¿Tiene familiares que cuenten con una visa de turismo a EE.UU.?</td>
            <td>{{ result.familiares_visa }}</td>
            <td>{{ result.calificacion_familiares_visa_ChatGPT }}</td>
          </tr>
          <tr>
            <td>15 - ¿Le ha sido negada una visa de turismo para EE.UU. anteriormente?</td>
            <td>{{ result.visa_negada }}</td>
            <td>{{ result.calificacion_visa_negada_ChatGPT }}</td>
          </tr>
          <tr>
            <td>16 - ¿Tiene antecedentes judiciales o ha estado en procesos de embargo?</td>
            <td>{{ result.antecedentes }}</td>
            <td>{{ result.calificacion_antecedentes_ChatGPT }}</td>
          </tr>
          <tr>
            <td>17 - ¿Padece alguna enfermedad crónica o preexistente de base?</td>
            <td>{{ result.enfermedades }}</td>
            <td>{{ result.calificacion_enfermedades_ChatGPT }}</td>
          </tr>
          <tr>
            <td>18 - ¿Tiene algún tipo de visa o permiso de residencia vigente para otro país?</td>
            <td>{{ result.visa_otra }}</td>
            <td>{{ result.calificacion_visa_otra_ChatGPT }}</td>
          </tr>
          <tr>
            <td>19 - ¿Ha tenido problemas o dificultades con las autoridades migratorias?</td>
            <td>{{ result.problemas_migratorios }}</td>
            <td>{{ result.calificacion_problemas_migratorios_ChatGPT }}</td>
          </tr>
          <tr>
            <td>20 - Criterios confidenciales del sistema</td>
            <td>------------------</td>
            <td>{{ result.calificacion_criterios_confidenciales_ChatGPT }}</td>
          </tr>
        </table>

        <div class="probability-result">
          <hr class="separator-small">
          <strong class="subtitles"><p>Probabilidad de aprobación de visa de turismo d EE.UU</p></strong>
          <strong class="probability">{{ result.probabilidad }}%</strong>
          <div id="bar-container">
            <div class="progress" id="progress-regenerar-bar"></div>
          </div>
        </div>


        <div class="suggestions">
          <hr class="separator-small">
          <h3 class="subtitles">2. Sugerencias para mejorar su perfil</h3>
          <div class="suggestions-results">
              <p>{{ result.sugerencia_1_ChatGPT }}</p>
              <p>{{ result.sugerencia_2_ChatGPT }}</p>
              <p>{{ result.sugerencia_3_ChatGPT }}</p>
          </div>
        </div>


        <div class="analysis-container">
            <h3 class="subtitles">3. Análisis integral de su perfil</h3>
            <p>En la siguiente sección, encontrará un diagrama que ilustra cinco categorías clave identificadas por nuestro sistema como las más relevantes para evaluar sus posibilidades de obtener una visa de turismo a los Estados Unidos. El objetivo es que conozca y comprenda cada uno de estos criterios, representados con calificaciones que varían de 1 a 10. Al analizar sus calificaciones en cada categoría, podrá identificar las áreas en las que necesita mejorar y buscar elementos que lo ayuden a fortalecer su perfil en dichas áreas. De esta manera, podrá aumentar sus probabilidades de éxito en la solicitud de la visa de turismo.</p>
            
            <table style="width: 100%; border-collapse: collapse;" class="table-analisis">
              <tbody class="table-analisis_body">
                <tr>
                  <td>
                    <div class="analysis-status" id="status-info"></div>
                  </td>
                  <td class="container-circle">
                    <div class="circle" id="circle-info"></div>
                  </td>
                  <td>
                    <strong>Información demográfica y familiar</strong>
                    <p style="font-size: 0.9em;">Información básica y familiar del solicitante que puede influir en la decisión de otorgar la visa.</p>
                    <strong class="score" id="score-info"></strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="analysis-status" id="status-education"></div>
                  </td>
                  <td>
                    <div class="circle" id="circle-education"></div>
                  </td>
                  <td>
                    <strong>Educación y empleo</strong>
                    <p style="font-size: 0.9em;">Datos relacionados con la educación y empleo del solicitante, que pueden indicar estabilidad laboral y capacidad para mantenerse durante el viaje.</p>
                    <strong class="score" id="score-education"></strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="analysis-status" id="status-assets"></div>
                  </td>
                  <td>
                    <div class="circle" id="circle-assets"></div>
                  </td>
                  <td>
                    <strong>Propiedades y activos</strong>
                    <p style="font-size: 0.9em;">Información sobre propiedades, vehículos e ingresos mensuales del solicitante, lo que puede reflejar solidez económica y vínculos con el país de residencia.</p>
                    <strong class="score" id="score-assets"></strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="analysis-status" id="status-background"></div>
                  </td>
                  <td>
                    <div class="circle" id="circle-background"></div>
                  </td>
                  <td>
                    <strong>Antecedentes y experiencia de viaje</strong>
                    <p style="font-size: 0.9em;">Puntos enfocados en la experiencia de viajes internacionales previos y antecedentes legales del solicitante, para evaluar el riesgo de incumplimiento de las regulaciones migratorias y posibles problemas durante su estancia en el país.</p>
                    <strong class="score" id="score-background"></strong>
                  </td>
                </tr>
              </tbody>
            </table>
            
        
        <h3 class="subtitles"><i class="fa fa-chart-pie subtitles"></i>B. Diagrama de resultados</h3>
        <div class="chart-container content-margins" id="miContenedor">
            <canvas id="radarChart"></canvas>
        </div>
        <hr class="separator">
        <div class="contacto">
          <h3 class="subtitles">¿Le ha sido útil esta información?</h3>
          <p><strong>Póngase en contacto con uno de nuestros agentes especializados en visas de turismo a través del WhatsApp +57 301 7488133</strong> he inicie su proceso de solicitud con nuestro acompañamiento. En VisaParaTurista.com, nuestro objetivo, en el que trabajamos cada día, es brindarle la orientación adecuada para aumentar sus posibilidades de éxito en la
            obtención de su visa de turismo.</p>
        </div>
       
        <hr class="separator">

    <footer class="footer-simple">
        <div class="footer-content">
          <div class="footer-contact">
            <p><strong>VisaParaTurista.com - Test de perfilamiento para solicitud de visa de turismo en EE. UU.</strong></p>
            <p><strong>&copy; 2024 VisaParaTurista.com. Todos los derechos reservados.</strong></p>
          </div>
          <p>
            WhatsApp: +57 301 7488133 / info@visaparaturista.com / Calle 7 Sur #42-145, Medellín, Colombia www.visaparaturista.com
          </p>
          <div>
            <p>Este documento contiene información confidencial y es propiedad de VisaParaTurista.com. La información de este documento está protegida por las leyes de protección de datos y es para uso exclusivo de la persona que ha tomado el cuestionario de perfilamiento. Cualquier reproducción, divulgación o uso sin el consentimiento expreso de la compañía está estrictamente prohibido.</p>
          </div>
          <div>
            <p>Puede consultar los términos y condiciones de nuestro tratamiento de datos en: <a href="https://www.visaparaturista.com/terminosycondicionesdeprivacidad">www.visaparaturista.com/terminosycondicionesdeprivacidad</a>
            </p>
          </div>
        </div>
    </footer>

    <button id="generatePDF">Descargar PDF</button>

    <form id="regenerar-form" action="{{ url_for('regenerar', id=result.id) }}" method="post" style="display: none;">
        <input type="hidden" name="id" value="{{ result.id }}">
        <input type="hidden" name="nombre" value="{{ result.nombre }}">
        <input type="hidden" name="apellidos" value="{{ result.apellidos }}">
        <input type="hidden" name="email" value="{{ result.email }}">
        <input type="hidden" name="telefono" value="{{ result.telefono }}">
        <input type="hidden" name="pais_residencia" value="{{ result.pais_residencia }}">
        <input type="hidden" name="fecha" value="{{ result.fecha }}">
        <input type="hidden" name="edad" value="{{ result.edad }}">
        <input type="hidden" name="estado_civil" value="{{ result.estado_civil }}">
        <input type="hidden" name="hijos" value="{{ result.hijos }}">
        <input type="hidden" name="vivienda" value="{{ result.vivienda }}">
        <input type="hidden" name="profesion" value="{{ result.profesion }}">
        <input type="hidden" name="nivel_educacion" value="{{ result.nivel_educacion }}">
        <input type="hidden" name="tiempo_empleo" value="{{ result.tiempo_empleo }}">
        <input type="hidden" name="propietario" value="{{ result.propietario }}">
        <input type="hidden" name="ingresos" value="{{ result.ingresos }}">
        <input type="hidden" name="impuestos" value="{{ result.impuestos }}">
        <input type="hidden" name="propiedades" value="{{ result.propiedades }}">
        <input type="hidden" name="viajes" value="{{ result.viajes }}">
        <input type="hidden" name="familiares_eeuu" value="{{ result.familiares_eeuu }}">
        <input type="hidden" name="familiares_visa" value="{{ result.familiares_visa }}">
        <input type="hidden" name="visa_negada" value="{{ result.visa_negada }}">
        <input type="hidden" name="antecedentes" value="{{ result.antecedentes }}">
        <input type="hidden" name="enfermedades" value="{{ result.enfermedades }}">
        <input type="hidden" name="visa_otra" value="{{ result.visa_otra }}">
        <input type="hidden" name="problemas_migratorios" value="{{ result.problemas_migratorios }}">
        <input type="hidden" name="nacionalidad" value="{{ result.nacionalidad }}">
        <input type="hidden" name="calificacion" value="{{ result.calificacion }}">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    

    
    <script type="module">

      //Genera los graficos de estadisticas
      import { createRadarChart, appendProbabilityBar, updateStatusAndCircle } from '/static/js/radarChart.js';

      appendProbabilityBar(68.25, 'bar-container');

      const ctx = document.getElementById('radarChart').getContext('2d');
      const data = {
          labels: ['Información demográfica', 'Educación', 'Propiedades', 'Antecedentes', 'Confidenciales'],
          datasets: [{
              data: [7.5, 8.0, 6.5, 7.0, 5.0],
              backgroundColor: 'rgba(41, 128, 185, 0.2)',
              borderColor: 'rgba(41, 128, 185, 1)',
              borderWidth: 3,
              pointBackgroundColor: 'rgba(41, 128, 185, 1)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgba(41, 128, 185, 1)'
          }]
      };

      // Crear el gráfico con Chart.js
    const radarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            responsive: true,
            scales: {
                r: {
                    angleLines: {
                        display: true
                    },
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            },
            animation: {
            onComplete: function() {
              const imgURL = radarChart.toBase64Image();
              console.log(imgURL);  // Aquí se obtiene el enlace de la imagen en formato base64

              // Si quieres mostrar la imagen en el DOM
              // const container = document.getElementById('radarChart')
             // Suponiendo que imgURL contiene la URL base64 de la imagen
              const imgElement = document.createElement('img');
              imgElement.src = imgURL;
              imgElement.alt = 'Gráfico radar';
              imgElement.style.width = '50%';

              // Selecciona el contenedor div por su id
              const container = document.getElementById('miContenedor'); // Reemplaza 'miContenedor' con el id de tu contenedor

              // Agrega la imagen al contenedor
              container.appendChild(imgElement);
            }
          }
        } 
      });

        // Función para generar PDF incluyendo gráficos
        document.getElementById('generatePDF').addEventListener('click', function() {
                    generatePDFWithChart();
        });

        function generatePDFWithChart() {
          const element = document.getElementById('content');

          // Usar html2pdf para generar el PDF
          html2pdf().from(element).set({
              margin: 1,
              filename: 'resultado_perfilamiento.pdf',
              image: { type: 'jpeg', quality: 0.98 },
              html2canvas: {
                  scale: 2, 
                  useCORS: true
              },
              jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
          }).save();
        }

      // TEST
      document.addEventListener('DOMContentLoaded', function() {
        var probability = 81.75;
            var probabilityBarInner = document.querySelector('.probability-bar-inner');
            probabilityBarInner.style.width = probability + '%';

            function calculateAverage(scores) {
                for (var i = 0; i < scores.length; i++) {
                    if (isNaN(scores[i])) {
                        return NaN;
                    }
                }
                var sum = scores.reduce((a, b) => a + b, 0);
                return (sum / scores.length).toFixed(2);
            }

            function calculateTableAverage(scores) {
                scores = scores.map(val => parseFloat(val));
                for (var i = 0; i < scores.length; i++) {
                    if (isNaN(scores[i])) {
                        return NaN;
                    }
                }
                var sum = scores.reduce((a, b) => a + b, 0);
                return (sum / scores.length).toFixed(2);
            }

            function updateStatusAndCircle(score, elementId, statusId) {
                if (isNaN(score) || score === null) {
                    document.getElementById(elementId).innerHTML = `<span>N/A</span>`;
                    document.getElementById(statusId).innerText = 'N/A';
                    document.getElementById(statusId).className = 'analysis-status';
                    document.getElementById(elementId).className = 'circle';
                    document.getElementById(elementId).style.background = 'conic-gradient(lightgray 0% 360deg)';
                    return;
                }

                var status = 'POSITIVO';
                var className = 'positivo';
                if (score < 3) {
                    status = 'NEGATIVO';
                    className = 'negativo';
                } else if (score < 6.5) {
                    status = 'NEUTRO';
                    className = 'neutro';
                }

                var degree = (score / 10) * 360;
                var background = `conic-gradient(green 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                if (className === 'neutro') {
                    background = `conic-gradient(#ff9800 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                } else if (className === 'negativo') {
                    background = `conic-gradient(#f44336 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                }

                document.getElementById(elementId).innerHTML = `<span>${score}</span>`;
                document.getElementById(statusId).innerText = status;
                document.getElementById(statusId).className = `analysis-status ${className}`;
                document.getElementById(elementId).className = `circle ${className}`;
                document.getElementById(elementId).style.background = background;
            }

            function updateResultBox(score, elementId) {
                if (isNaN(score)) {
                    document.getElementById(elementId).innerText = 'Resultado: N/A';
                    document.getElementById(elementId).className = 'result-box negativo';
                    return;
                }

                var status = 'POSITIVO';
                var className = 'positivo';
                if (score < 3) {
                    status = 'NEGATIVO';
                    className = 'negativo';
                } else if (score < 6.5) {
                    status = 'NEUTRO';
                    className = 'neutro';
                }

                document.getElementById(elementId).innerText = `Resultado: ${score} - ${status}`;
                document.getElementById(elementId).className = `result-box ${className}`;
            }

            var demographyScores = [
                parseFloat("6.50"),
                parseFloat("7.50"),
                parseFloat("7.00"),
                parseFloat("5.50"),
                parseFloat("8.50")
            ].map(val => isNaN(val) ? NaN : val);

            var educationScores = [
                parseFloat("8.50"),
                parseFloat("8.50"),
                parseFloat("7.50")
            ].map(val => isNaN(val) ? NaN : val);

            var assetsScores = [
                parseFloat("8.50"),
                parseFloat("7.50"),
                parseFloat("8.50"),
                parseFloat("8.00")
            ].map(val => isNaN(val) ? NaN : val);

            var backgroundScores = [
                parseFloat("8.00"),
                parseFloat("6.50"),
                parseFloat("7.50"),
                parseFloat("9.00"),
                parseFloat("9.00"),
                parseFloat("5.00"),
                parseFloat("9.00"),
                parseFloat("8.00")
            ].map(val => isNaN(val) ? NaN : val);

            var confidentialScores = [
                parseFloat("6.50"),
                parseFloat("8")
            ].map(val => isNaN(val) ? NaN : val);

            var averageDemography = calculateAverage(demographyScores);
            var averageEducation = calculateAverage(educationScores);
            var averageAssets = calculateAverage(assetsScores);
            var averageBackground = calculateAverage(backgroundScores);
            var averageConfidential = calculateAverage(confidentialScores);

            var demographyTableScores = [
                "6.50",
                "7.50",
                "7.00",
                "5.50",
                "8.50"
            ];

            var educationTableScores = [
                "8.50",
                "8.50",
                "7.50"
            ];

            var assetsTableScores = [
                "8.50",
                "7.50",
                "8.50",
                "8.00"
            ];

            var backgroundTableScores = [
                "8.00",
                "6.50",
                "7.50",
                "9.00"
            ];

            var confidentialTableScores = [
                "8.00",
                "9.00",
                "5.00",
                "9.00",
                "6.50",
                "8"
            ];

            var averageDemographyTable = calculateTableAverage(demographyTableScores);
            var averageEducationTable = calculateTableAverage(educationTableScores);
            var averageAssetsTable = calculateTableAverage(assetsTableScores);
            var averageBackgroundTable = calculateTableAverage(backgroundTableScores);
            var averageConfidentialTable = calculateTableAverage(confidentialTableScores);

            updateStatusAndCircle(averageDemography, 'circle-info', 'status-info');
            updateStatusAndCircle(averageEducation, 'circle-education', 'status-education');
            updateStatusAndCircle(averageAssets, 'circle-assets', 'status-assets');
            updateStatusAndCircle(averageBackground, 'circle-background', 'status-background');
            updateStatusAndCircle(averageConfidential, 'circle-confidential', 'status-confidential');

            updateResultBox(averageDemographyTable, 'result-info-table');
            updateResultBox(averageEducationTable, 'result-education-table');
            updateResultBox(averageAssetsTable, 'result-assets-table');
            updateResultBox(averageBackgroundTable, 'result-background-table');
            updateResultBox(averageConfidentialTable, 'result-confidential-table');

            document.getElementById('score-info').innerText = averageDemography;
            document.getElementById('score-education').innerText = averageEducation;
            document.getElementById('score-assets').innerText = averageAssets;
            document.getElementById('score-background').innerText = averageBackground;
            document.getElementById('score-confidential').innerText = averageConfidential;
      })      


        // Funciones para abrir y cerrar diálogos
        function openDialog(field, value) {
            document.getElementById('dialog-title').innerText = field.charAt(0).toUpperCase() + field.slice(1);
            document.getElementById('edit-value').value = value;
            document.getElementById('edit-field').value = field;
            document.getElementById('dialog-overlay').classList.add('active');
        }

        function closeDialog() {
            document.getElementById('dialog-overlay').classList.remove('active');
        }

        // Manejo del formulario de edición 

        // Funciones para abrir y cerrar el diálogo de eliminación
        function openDeleteDialog() {
            document.getElementById('delete-dialog-overlay').classList.add('active');
        }

        function closeDeleteDialog() {
            document.getElementById('delete-dialog-overlay').classList.remove('active');
        }

        // Manejo del formulario de eliminación
        //ESTA EDICIÓN DE INFORMACIÓN SE NECESITARÁ ?
        document.getElementById('delete-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var confirmDelete = document.getElementById('confirm-delete').value;
            if (confirmDelete === 'DELETE') {
                var formData = new FormData(event.target);
                fetch('/delete', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/results';
                    } else {
                        alert('Error al eliminar el registro');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al eliminar el registro');
                });
            } else {
                alert('Por favor, escribe "DELETE" para confirmar.');
            }
        });

        // Eliminar un registro con confirmación
        function deleteRecord(recordId) {
            const confirmDelete = prompt("Type 'DELETE' to confirm the deletion:");

            if (confirmDelete !== 'DELETE') {
                alert("Deletion not confirmed.");
                return;
            }

            fetch('/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: recordId,
                    'confirm-delete': confirmDelete
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Record deleted successfully.");
                    // Optionally, refresh the page or update the UI
                } else {
                    alert("Failed to delete record: " + data.message);
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        // Inicialización de gráficos y actualización de la UI al cargar la página

        document.addEventListener('DOMContentLoaded', function() {
            var probability = result.probabilidad ;
            var probabilityBarInner = document.querySelector('.probability-bar-inner');
            probabilityBarInner.style.width = probability + '%';

            function calculateAverage(scores) {
                for (var i = 0; i < scores.length; i++) {
                    if (isNaN(scores[i])) {
                        return NaN;
                    }
                }
                var sum = scores.reduce((a, b) => a + b, 0);
                return (sum / scores.length).toFixed(2);
            }

            function calculateTableAverage(scores) {
                scores = scores.map(val => parseFloat(val));
                for (var i = 0; i < scores.length; i++) {
                    if (isNaN(scores[i])) {
                        return NaN;
                    }
                }
                var sum = scores.reduce((a, b) => a + b, 0);
                return (sum / scores.length).toFixed(2);
            }

            function updateStatusAndCircle(score, elementId, statusId) {
                if (isNaN(score) || score === null) {
                    document.getElementById(elementId).innerHTML = `<span>N/A</span>`;
                    document.getElementById(statusId).innerText = 'N/A';
                    document.getElementById(statusId).className = 'analysis-status';
                    document.getElementById(elementId).className = 'circle';
                    document.getElementById(elementId).style.background = 'conic-gradient(lightgray 0% 360deg)';
                    return;
                }

                var status = 'POSITIVO';
                var className = 'positivo';
                if (score < 3) {
                    status = 'NEGATIVO';
                    className = 'negativo';
                } else if (score < 6.5) {
                    status = 'NEUTRO';
                    className = 'neutro';
                }

                var degree = (score / 10) * 360;
                var background = `conic-gradient(green 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                if (className === 'neutro') {
                    background = `conic-gradient(#ff9800 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                } else if (className === 'negativo') {
                    background = `conic-gradient(#f44336 0% ${degree}deg, lightgray ${degree}deg 360deg)`;
                }

                document.getElementById(elementId).innerHTML = `<span>${score}</span>`;
                document.getElementById(statusId).innerText = status;
                document.getElementById(statusId).className = `analysis-status ${className}`;
                document.getElementById(elementId).className = `circle ${className}`;
                document.getElementById(elementId).style.background = background;
            }

            function updateResultBox(score, elementId) {
                if (isNaN(score)) {
                    document.getElementById(elementId).innerText = 'Resultado: N/A';
                    document.getElementById(elementId).className = 'result-box negativo';
                    return;
                }

                var status = 'POSITIVO';
                var className = 'positivo';
                if (score < 3) {
                    status = 'NEGATIVO';
                    className = 'negativo';
                } else if (score < 6.5) {
                    status = 'NEUTRO';
                    className = 'neutro';
                }

                document.getElementById(elementId).innerText = `Resultado: ${score} - ${status}`;
                document.getElementById(elementId).className = `result-box ${className}`;
            }

            var demographyScores = [
                parseFloat("{{ result.calificacion_pais_residencia_ChatGPT }}"),
                parseFloat("{{ result.calificacion_edad_ChatGPT }}"),
                parseFloat("{{ result.calificacion_estado_civil_ChatGPT }}"),
                parseFloat("{{ result.calificacion_hijos_ChatGPT }}"),
                parseFloat("{{ result.calificacion_vivienda_ChatGPT }}")
            ].map(val => isNaN(val) ? NaN : val);

            var educationScores = [
                parseFloat("{{ result.calificacion_profesion_ChatGPT }}"),
                parseFloat("{{ result.calificacion_nivel_educacion_ChatGPT }}"),
                parseFloat("{{ result.calificacion_tiempo_empleo_ChatGPT }}")
            ].map(val => isNaN(val) ? NaN : val);

            var assetsScores = [
                parseFloat("{{ result.calificacion_propietario_ChatGPT }}"),
                parseFloat("{{ result.calificacion_ingresos_ChatGPT }}"),
                parseFloat("{{ result.calificacion_impuestos_ChatGPT }}"),
                parseFloat("{{ result.calificacion_propiedades_ChatGPT }}")
            ].map(val => isNaN(val) ? NaN : val);

            var backgroundScores = [
                parseFloat("{{ result.calificacion_viajes_ChatGPT }}"),
                parseFloat("{{ result.calificacion_familiares_eeuu_ChatGPT }}"),
                parseFloat("{{ result.calificacion_familiares_visa_ChatGPT }}"),
                parseFloat("{{ result.calificacion_visa_negada_ChatGPT }}"),
                parseFloat("{{ result.calificacion_problemas_migratorios_ChatGPT }}"),
                parseFloat("{{ result.calificacion_visa_otra_ChatGPT }}"),
                parseFloat("{{ result.calificacion_enfermedades_ChatGPT }}"),
                parseFloat("{{ result.calificacion_antecedentes_ChatGPT }}")
            ].map(val => isNaN(val) ? NaN : val);

            var confidentialScores = [
                parseFloat("{{ result.calificacion_nacionalidad_ChatGPT }}"),
                parseFloat("{{ result.calificacion }}")
            ].map(val => isNaN(val) ? NaN : val);

            var averageDemography = calculateAverage(demographyScores);
            var averageEducation = calculateAverage(educationScores);
            var averageAssets = calculateAverage(assetsScores);
            var averageBackground = calculateAverage(backgroundScores);
            var averageConfidential = calculateAverage(confidentialScores);

            var demographyTableScores = [
                "{{ result.calificacion_pais_residencia_ChatGPT }}",
                "{{ result.calificacion_edad_ChatGPT }}",
                "{{ result.calificacion_estado_civil_ChatGPT }}",
                "{{ result.calificacion_hijos_ChatGPT }}",
                "{{ result.calificacion_vivienda_ChatGPT }}"
            ];

            var educationTableScores = [
                "{{ result.calificacion_profesion_ChatGPT }}",
                "{{ result.calificacion_nivel_educacion_ChatGPT }}",
                "{{ result.calificacion_tiempo_empleo_ChatGPT }}"
            ];

            var assetsTableScores = [
                "{{ result.calificacion_propietario_ChatGPT }}",
                "{{ result.calificacion_ingresos_ChatGPT }}",
                "{{ result.calificacion_impuestos_ChatGPT }}",
                "{{ result.calificacion_propiedades_ChatGPT }}"
            ];

            var backgroundTableScores = [
                "{{ result.calificacion_viajes_ChatGPT }}",
                "{{ result.calificacion_familiares_eeuu_ChatGPT }}",
                "{{ result.calificacion_familiares_visa_ChatGPT }}",
                "{{ result.calificacion_visa_negada_ChatGPT }}"
            ];

            var confidentialTableScores = [
                "{{ result.calificacion_antecedentes_ChatGPT }}",
                "{{ result.calificacion_enfermedades_ChatGPT }}",
                "{{ result.calificacion_visa_otra_ChatGPT }}",
                "{{ result.calificacion_problemas_migratorios_ChatGPT }}",
                "{{ result.calificacion_nacionalidad_ChatGPT }}",
                "{{ result.calificacion }}"
            ];

            var averageDemographyTable = calculateTableAverage(demographyTableScores);
            var averageEducationTable = calculateTableAverage(educationTableScores);
            var averageAssetsTable = calculateTableAverage(assetsTableScores);
            var averageBackgroundTable = calculateTableAverage(backgroundTableScores);
            var averageConfidentialTable = calculateTableAverage(confidentialTableScores);

            updateStatusAndCircle(averageDemography, 'circle-info', 'status-info');
            updateStatusAndCircle(averageEducation, 'circle-education', 'status-education');
            updateStatusAndCircle(averageAssets, 'circle-assets', 'status-assets');
            updateStatusAndCircle(averageBackground, 'circle-background', 'status-background');
            updateStatusAndCircle(averageConfidential, 'circle-confidential', 'status-confidential');

            updateResultBox(averageDemographyTable, 'result-info-table');
            updateResultBox(averageEducationTable, 'result-education-table');
            updateResultBox(averageAssetsTable, 'result-assets-table');
            updateResultBox(averageBackgroundTable, 'result-background-table');
            updateResultBox(averageConfidentialTable, 'result-confidential-table');

            document.getElementById('score-info').innerText = averageDemography;
            document.getElementById('score-education').innerText = averageEducation;
            document.getElementById('score-assets').innerText = averageAssets;
            document.getElementById('score-background').innerText = averageBackground;
            document.getElementById('score-confidential').innerText = averageConfidential;

            // Radar Chart
            const ctx = document.getElementById('radarChart').getContext('2d');
            const data = {
                labels: ['Información demográfica y familiar', 'Educación y empleo', 'Propiedades y activos', 'Antecedentes y experiencia de viaje', 'Criterios confidenciales'],
                datasets: [{
                    data: [averageDemography, averageEducation, averageAssets, averageBackground, averageConfidential],
                    backgroundColor: 'rgba(41, 128, 185, 0.2)',
                    borderColor: 'rgba(41, 128, 185, 1)',
                    borderWidth: 3,
                    pointBackgroundColor: 'rgba(41, 128, 185, 1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(41, 128, 185, 1)'
                }]
            };
            const config = {
                type: 'radar',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        r: {
                            min: 0,
                            max: 10,
                            angleLines: {
                                color: 'rgba(0, 0, 0, 0.2)',
                                lineWidth: 2
                            },
                            grid: {
                                color: 'rgba(0, 0, 0, 0.1)',
                                lineWidth: 2
                            },
                            pointLabels: {
                                color: '#34495e',
                                font: {
                                    size: 14,
                                    weight: 'bold'
                                }
                            },
                            ticks: {
                                backdropColor: 'rgba(255, 255, 255, 0.2)',
                                color: '#34495e',
                                beginAtZero: true,
                                stepSize: 2,
                                showLabelBackdrop: false
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            backgroundColor: 'rgba(0, 0, 0, 0.8)',
                            titleColor: '#ecf0f1',
                            bodyColor: '#ecf0f1',
                            borderColor: 'rgba(41, 128, 185, 1)',
                            borderWidth: 1
                        }
                    }
                }
            };

            new Chart(ctx, config);
        });

 
// Conectar con el servidor Flask-SocketIO una vez al cargar la página
const socket = io();

// Función para el efecto de escritura
function typeWriter(text, element, delay, callback) {
    let i = 0;
    element.textContent = '';
    
    function type() {
        if (i < text.length) {
            element.textContent += text.charAt(i);
            i++;
            setTimeout(type, delay);
        } else if (callback) {
            setTimeout(callback, 5000); // Espera 5 segundos antes de reiniciar el texto
        }
    }
    type();
}

// Función para animar el texto
function animateText() {
    const progressText = document.getElementById('message-overlay');
    typeWriter('Re-procesando datos con IA.', progressText, 100, () => {
        progressText.style.transition = 'opacity 0.5s';
        progressText.style.opacity = 0;
        setTimeout(() => {
            progressText.style.opacity = 1;
            animateText();
        }, 500);
    });
}

// Escuchar eventos de progreso emitidos desde el servidor para regenerar
socket.on('progressregenerar', function (data) {
    const progressBar = document.getElementById('progress-regenerar-bar');
    const { progressregenerar } = data;

    progressBar.style.width = progressregenerar + '%'; // Actualizar la barra de progreso

    // Mostrar el progreso en la consola (opcional para depuración)
    console.log(`Progreso: ${progressregenerar}%`);

    // Ocultar el overlay cuando el progreso llegue al 100%
    if (progressregenerar >= 100) {
        document.getElementById('processing-overlay').style.display = 'none';
    }
});


const puppeteer = require('puppeteer');

async function generatePDF(url, outputPath) {
    const browser = await puppeteer.launch();
    const page = await browser.newPage();
    await page.goto(url, { waitUntil: 'networkidle2' });
    await page.pdf({ path: outputPath, format: 'A4' });
    await browser.close();
}

const url = process.argv[2];
const outputPath = process.argv[3];

generatePDF(url, outputPath).catch(error => {
    console.error(error);
    process.exit(1);
});

</script>
</body>
</html>
