<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}

    <div
      class="modal fade"
      id="updatePasswordModal{{ current_user.id }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="updatePasswordModalLabel{{ current_user.id }}"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="updatePasswordModalLabel{{ current_user.id }}"
            >
              Actualizar Contraseña para {{ current_user.username }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              method="POST"
              action="{{ url_for('update_password', user_id=current_user.id) }}"
            >
              {{ form.hidden_tag() }}
              <div class="form-group">
                <label for="new_password">Nueva Contraseña</label>
                {{ form.new_password(class="form-control") }}
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña</label>
                {{ form.confirm_password(class="form-control") }}
              </div>
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p>
      Por favor, <a href="/login">inicia sesión</a> para actualizar tu
      contraseña.
    </p>
    {% endif %}
  </body>
</html>
